<div id="mainDiv">
    <br>
      <div class="contentDiv">
        <div class="spanHeader"><b class="bb">Work experience</b></div>
        <br>
        <b>Graduate Engineer Trainee </b> - 
        <!-- <br>   -->
        <span class="firmName">LTI-Airoli,India</span>
        <sub>   Oct-2020 - Till Now</sub><br>
        <div class="descriptionDiv">
          Started as a Trainee at LTI on October 2020. Got placed under Carrier Global client, a North America based HVAC company.
        </div>
      </div>
</div>