<!-- <div id="bodyDiv" style="background-image: url('../assets/diamond.jpg');"> -->
<div id="mainDiv">
    <nav id="mainLeftNav">
      <ul id="mainUl">
        <li class="mainLi" [routerLink]="['/home']">Home</li>
        <!-- <li class="mainLi">Contact</li> -->
        <li class="mainLi">Guides</li>
      </ul>
    </nav>
    <nav id="nameNav">
      <b id="nameB">Keerthivasan J</b>
      <br>
      <span id="nameSpan">Full stack .Net dev</span>
    </nav>
    <nav id="mainRightNav">
      <ul>
        <li class="mainLi" [routerLink]="['/contact']">Contact</li>
        <!-- <li class="mainLi">Tree</li> -->
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>