<div id="mainDiv">
  <br>
  <br>
  <br>
  <br>
    <section>
      <br>
      <!-- <b>Keerthivasan J</b> -->
      <br>
      <!-- <span>Full stack .Net dev</span> -->
      <!-- <hr> -->
      <br>
      <div class="contentDiv">
        <div class="spanHeader"><b class="bb">Work experience</b></div>
        <br>
        <b>Graduate Engineer Trainee </b> - 
        <!-- <br>   -->
        <span class="firmName">LTI-Airoli,India</span>
        <sub>   Oct-2020 - Till Now</sub><br>
        <div class="descriptionDiv">
          Started as a Trainee at LTI on October 2020. Got placed under Carrier Global client, a North America based HVAC company.
        </div>
      </div>
      <br>
      <div class="contentDiv">
        <div class="spanHeader"><b class="bb">Other experience</b></div>
        <br>
        <b>Head of Marketing</b> - 
        <span class="firmName">Arts Society of CEG, CEG, Chennai</span>
        <sub> July 2019 - Feb 2020</sub><br>
        <div class="descriptionDiv">
          
  Techofes’ is a grand cultural festival of College of engineering Guindy, Anna University conducted once a year by the organisation of the CEG students team, ‘Arts Society of CEG’. 
  T has 100+events ranging from sports to arts. Day events include variety shows, dance and singing competitions, quiz, IPL auction, etc. 
  These day events will be conducted throughout the three days as per the schedule. 
  Variety show competition is a platform where diverse teams from all over Tamil Nadu come and deliver their talent. 
  Also, the ‘Informals’ stage will be active and open always for the on spot performers who wish to exhibit their talents. 
  Night-events, which will be taking place at the Main stage, include Concert night, Choreo night, T awards, Talent of Techofes and DJ night. 
  
        </div>
          <br>
      <br>
      <b>Logistics Organiser</b> - 
      <span class="firmName">CEG Tech Forum, CEG, Chennai</span>
      <sub> July 2017 - Feb 2019</sub>
      <br>
      <div class="descriptionDiv">
        CEG Tech Forum conducts Kurukshetra,a international techno-management fest conducted annually by the College of Engineering, Guindy (CEG) in Chennai, Tamil Nadu, India. 
  It is a four-day event organized by the college's technical body, the CEG Tech Forum (CTF).
      </div>
      </div>
      <br>
      <div class="contentDiv">
        <div class="spanHeader"><b class="bb">Education</b></div>
        <br>
        <b>B.E.Computer Science and Engineering</b> – 7.72 CGPA <br>
        <span class="firmName">College of Engineering, Guindy, Chennai.</span><br><br>
      <b>Higher Secondary</b> - 94.41%<br>
      <span class="firmName">Malco Vidyalaya MHSS, Mettur, Salem.</span><br><br>
      <b>SSLC</b> - 96.4%<br>
      <span class="firmName">Malco Vidyalaya MHSS, Mettur, Salem.</span>
      </div>
      <br>
      <div class="contentDiv">
        <div class="spanHeader"><b class="bb">Skills</b></div>
        <br>
        <b>CODING -</b> <br>
    &nbsp;.Net Framework <br>
    &nbsp;&nbsp;- ASP .Net MVC<br>
    &nbsp;&nbsp;- WEB API<br>
    &nbsp;&nbsp;- Entity Framework<br>
    &nbsp;MSSQL<br>
    &nbsp;Angular<br>
    &nbsp;Java Script<br>
  <!-- MS Office<br>
  Management skills.<br> -->
  Public speaking.
      </div>
      <br>
      <div class="contentDiv">
        <div class="spanHeader"><b class="bb">Languages</b></div>
        <br>
    English<br>
    Tamil
      </div>
      <br>
      <div class="contentDiv">
        <div class="spanHeader"><b class="bb">Hobby</b></div>
        <br>
    Movies<br>
    &nbsp;&nbsp;
    <!-- You can lose your reality and connect with the film which gives an amazing feel.  -->
    Don't restrict your love for movies 
    <!-- try to watch every good film ever made. -->
    <br>Cricket<br>
    &nbsp;&nbsp; Great way to spend your time and make you fit.
    <!-- Watching cricket and playing it in the roads, grounds, open terrace, farming lands, etc.  -->
      </div>
      <br>
      <!-- <div>
        <div class="spanHeader"><b>Bio</b>
        <br>
      </div> -->
      <br>
    </section>
    <!-- <footer>
  
    </footer> -->
  </div>
